.leftsplit {

    position:fixed;
    top: 0;
    height: 100%;
    width: 25%;
    left: 0%;
    background-color:slategrey;
}

.button {

    text-align: center;
    font-size: 16px; 
    border-radius: 8px;   
    cursor: pointer;
}
#employee:hover {

    background-color:blanchedalmond ;

}
#student:hover {
    background-color:blanchedalmond;
}

.body{
   background-color:rgb(176, 200, 224);
}

#employee {

    padding: 15px 30px;
    margin-top: 75% ;
    margin-bottom: 5%;
    margin-left: 28%;
    margin-right: 15%;    
}

#student {

    padding: 15px 38px; 
    margin-top: 5%;
    margin-bottom: 75%;
    margin-left: 28%;
    margin-right: 15%;
}

.table {
   
    position:fixed;
    top: 1%;
    left: 30%;
    right:5%;
    background-color:rgb(158, 179, 218);
    
}

.detailstable {
    border-collapse: collapse;
   
}

.detailstable th, td{

    width: 8%;
    padding: 5px;
    font-size: 25px ;
    border: 3px solid black;
}
   


.detailstable th {
    font-size: 30px ; 
    background-color:rgb(119, 137, 170);
}

.alignment {
    text-align: center;
}
.heading{
    margin-top:20%;
    margin-left: 30%;
}
.newemployee {
   
    margin-top: 1%;
    margin-left: 30%;
    width:30%;
    height: 30%;
    background-image:linear-gradient(rgb(119, 137, 170),rgb(180, 205, 248),rgb(119, 137, 170));
    border: 3px solid black;
}

.employeelabel {
    
    font-size: "medium";
    padding-top:6%;
    margin-left: 2%;
}

#addbutton {

    margin-top: 6%;
    margin-left: 47%;
    border-radius: 4px;
}
